@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url(https://use.fontawesome.com/releases/v5.15.3/css/all.css);

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: rgb(219, 219, 219);
}

h1 {
  padding: .5em 1em;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  color: grey;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 2em 10%;
}

.item {
  width: 30em;
  background-color: white;
  box-sizing: border-box;
  padding: 1.5em;
  margin-bottom: 1em;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.item img {
  width: 100%;
}

.item h2 {
  font-size: 1em;
  margin-bottom: .2em;
}

button {
  padding: 1em;
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;;
  border-radius: 50%;
  border: 1px solid black;
  background-color: rgb(19, 19, 19);
  color: rgb(230, 230, 230);
}

button::after{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content:"\f204";
  font-size: 1.5em;
}


/* estilos para tema oscuro ---------------------------------------------------------------------------------------------- */



body.dark
{
  background-color: rgb(39, 39, 39);
}

.dark h1
{ 
  background-color: rgb(19, 19, 19);
  color: rgb(170, 170, 170);
  border-color: black;
}

.dark .item
{
  background-color: rgb(19, 19, 19);
  border-color: black;
}

.dark .item h2, .dark .item p
{
  color: rgb(230, 230, 230);
}

.dark button {
  background-color: white;
  color:rgb(19, 19, 19);
  border-color: lightgray;
}

.dark button::after{
  content:"\f205";
}